<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting</title>    
    <script defer src="{{ url_for('static', filename='js/login/callback.js') }}""></script>
</head>
<body>
    redirecting...
</body>
</html>

<!-- https://www.youtube.com/watch?v=ilDSd3W_6UI -->
<!-- https://tabsoverspaces.in/posts/oauth2-with-reddit-api/ -->
<!-- https://www.reddit.com/prefs/apps -->
<!-- https://stackoverflow.com/questions/69488380/reddit-api-requesting-access-token-using-javascript -->
